<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Обновить пользователя</title>
</head>
<body>
    <h1>Обновить данные пользователя</h1>
    <form action="/user/crud/update" method="POST">
        <label for="user_id"><b>Укажите id:</b></label>
        <input type="number" id="user_id" name="user_id" required>
        <br>
        <label for="email"><b>Email:</b></label>
        <input type="email" id="email" name="email">
        <br>
        <label for="full_name"><b>ФИО:</b></label>
        <input type="text" id="full_name" name="full_name">
        <br>
        <label for="password"><b>Пароль:</b></label>
        <input type="password" id="password" name="password">
        <br>
        <label for="is_admin"><b>Админ:</b></label>
        <input type="checkbox" id="is_admin" name="is_admin">
        <br>
        <button type="submit">Обновить</button>
    </form>
    <br>
    <a href="/"><button>Вернуться на стартовую страницу</button></a>
    <a href="/user/{{user_id}}"><button>Вернуться в личный кабинет</button></a>
    <p><a href="/logout"><button>Выйти из аккаунта</button></a></p>
    <p><span style="white-space: pre-line">{{result_message}}</span></p>
</body>
</html>